import React from 'react';
import { storiesOf } from '@storybook/react';

import { {{pascalCase name}} } from './src';

const stories = storiesOf('Add-ons|{{pascalCase name}}', module);

stories.add('Story', () => (
  <div>
    <{{pascalCase name}}>{{pascalCase name}} Story</{{pascalCase name}}>
  </div>
));
