import React from 'react';
import { storiesOf } from '@storybook/react';

import { {{pascalCase name}} } from './{{pascalCase name}}';

const stories = storiesOf('Components|{{pascalCase name}}', module);

stories.add('Story', () => (
  <div>
    <{{pascalCase name}}>{{pascalCase name}} Story</{{pascalCase name}}>
  </div>
));
